<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>vue-boolzapp</title>
</head>

<body>


    <div id="app">

        <div class="container display-flex bordonero">
            <div class="contact-container bordonero">
                <div class="display-flex my-contact bordonero" @click="messaggioRiChange">
                    <div class="myavatar display-flex">
                        <img src="img\songoku.jpg" alt="">
                    </div>
                    <div class="flex-div"></div>
                    <div class="myicon display-flex">
                        <a href="#"><i class="fa fa-circle-o-notch color-icon" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-comment color-icon" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-align-justify color-icon" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="mynoti bordonero display-flex" @click="messaggioRiChange">
                    <div><i class="fa fa-bell-slash fa-lg noifica" aria-hidden="true"></i></div>
                    <div class="flex-div display-flex flex-column">
                        <strong>Ricevi notifiche di nuovi messaggi</strong>
                        <a href="#">Attiva notifiche desktop</a>

                    </div>

                </div>
                <div class="display-flex" @click="messaggioRiChange">
                    <label for="search-input"><i class="fa fa-search color-icon searchcontact"
                            aria-hidden="true"></i></label>
                    <input v-model="query" class="search flex-div" id="search-input" type="text"
                        placeholder="Cerca o inizia una nuova chat">
                </div>
                <div class="overauto" @click="messaggioRiChange">
                    <div v-for="element of searchUser" class="display-flex bg-white posizione"
                        :class="{'bg-gray': element.name === activeUser.name}" @click="onUserClick(element)">
                        <div class="myavatar display-flex ">
                            <img :src="element.avatar" alt="">
                            <div class="flex-div display-flex flex-column ">
                                <div> <strong>{{element.name}}</strong></div>
                                <div>{{element.messages[element.messages.length-1].text}}</div>
                                
                            </div>
                            
                        </div>
                        <div class="data">{{ activeUserLastAcces}}</div>
                    </div>
                </div>
            </div>
            <div class="chat-container bordonero">
                <div class="display-flex my-contact bordonero" @click="messaggioRiChange">
                    <div class="myavatar display-flex">
                        <img :src="activeUser.avatar" alt="">
                    </div>
                    <div class="flex-div flex-column">
                        <strong>{{activeUser.name}}</strong>
                        <p>Ultimo accesso oggi alle {{ activeUserLastAcces}}</p>
                    </div>
                    <div class="myicon display-flex">
                        <a href="#"><i class="fa fa-search color-icon" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-paperclip color-icon" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-align-justify color-icon" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="bg-chat display-flex flex-column" @click="messaggioRiChange">
                    <div v-for="messages of activeUser.messages" class="messaggio display-flex flex-column">
                        <span :class="messages.status">{{messages.text}}<i class="fa fa-caret-down fa-3x spunta"
                                aria-hidden="true"></i>
                            <span class="data">{{formattaData(messages.date)}}</span>
                        </span>

                    </div>


                </div>
                <div class="display-flex writetext">
                    <div>
                        <i class="fa fa-smile-o color-icon" aria-hidden="true"></i>
                    </div>

                    <input v-model="newMessages" class="search flex-div" type="text" placeholder="Scrivi un messaggio"
                        @keyup.enter="addMessages" @click="messaggioChange">


                    <div v-if="!messaggio"><i class="fa fa-microphone color-icon" aria-hidden="true"></i></div>
                    <div v-else><i class="fa fa-paper-plane color-icon" aria-hidden="true " @click="addMessages"></i>
                    </div>

                </div>

            </div>
        </div>

        <div class="bg-green">
        </div>

        <div class="bg-body">
        </div>
    </div>


    <script src="data.js"></script>

    <script src="script.js"></script>
</body>

</html>